atomicwrites==1.3.0
attrs==19.3.0
awscli==1.16.259
backcall==0.1.0
blackstone==0.1.12
blis==0.4.1
boto==2.49.0
boto3==1.9.244
botocore==1.12.249
bpemb==0.3.0
bson==0.5.8
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
conllu==2.2
cycler==0.10.0
cymem==2.0.2
Cython==0.29.13
cytoolz==0.9.0.1
dartsclone==0.6
decorator==4.4.0
Deprecated==1.2.6
dill==0.2.9
docutils==0.15.2
en-blackstone-proto==0.0.1
en-core-sci-sm==0.2.3
en-core-web-md==2.2.0
en-core-web-sm==2.2.0
en-ner-craft-md==0.2.3
en-trf-bertbaseuncased-lg==2.2.0
en-trf-xlnetbasecased-lg==2.2.0
en-vectors-web-lg==2.1.0
flair==0.4.4
ftfy==5.6
future==0.18.1
gensim==3.8.1
hyperopt==0.2.1
idna==2.8
importlib-metadata==0.23
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.15.1
jmespath==0.9.4
joblib==0.14.0
kiwisolver==1.1.0
kytea==0.1.4
langdetect==1.0.7
matplotlib==3.1.1
more-itertools==7.2.0
mpld3==0.3
msgpack==0.6.1
msgpack-numpy==0.4.4.3
murmurhash==0.28.0
natto-py==0.9.0
networkx==2.2
nltk==3.4.5
nmslib==1.8.1
numpy==1.17.2
packaging==19.2
pandas==0.25.1
parso==0.5.1
pathlib==1.0.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
plac==0.9.6
pluggy==0.13.0
preshed==3.0.2
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.7
pybind11==2.4.3
pycparser==2.19
Pygments==2.7.4
pymongo==3.9.0
pyparsing==2.4.2
pytest==5.2.1
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
regex==2017.4.5
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
sacremoses==0.0.35
scikit-learn==0.21.3
scipy==1.3.1
scispacy==0.2.3
segtok==1.5.7
sentencepiece==0.1.83
six==1.12.0
sklearn==0.0
smart-open==1.8.4
sortedcontainers==2.1.0
spacy==2.2.1
spacy-transformers==0.5.0
sqlitedict==1.6.0
srsly==0.1.0
SudachiPy==0.4.0
tabulate==0.8.5
thinc==7.1.1
tiny-tokenizer==3.0.1
toolz==0.10.0
torch==1.2.0
torchcontrib==0.0.2
torchvision==0.4.1
tqdm==4.35.0
traitlets==4.3.3
transformers==2.0.0
ujson==1.35
urllib3==1.24.3
wasabi==0.2.2
wcwidth==0.1.7
wrapt==1.10.11
zipp==0.6.0
